# Banco de Dados PostgreSQL (Produção / Docker)
BD_HOST=host
BD_PORT=porta
BD_NAME=nome_do_banco
BD_USERNAME=usuario
BD_PASSWORD=senha

# Autenticação JWT
JWT_SECRET=super_secret_jwt_key_with_at_least_256_bits_length_123456789
JWT_EXPIRATION=86400000

